.loader > * {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: red;
  margin-right: 12px;
}

@keyframes fadeIn {
  0% {
    display: none;
  }
  100% {
    display: inline-block;
  }
}
